@import "~style/colors";
@import "~style/common";

body {
  background-color: $color-cion-background-primary;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.container {
  display: grid;

  grid-gap: 0;

  grid-template-areas: "header content" "nav content" "user content" "footer content";
  grid-template-columns: 20rem 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  margin: 0;
  min-width: 100vw;
  padding: 0;

  transition: all 0.1s ease-out;

  nav a .link-text {
    display: inline-block;
  }

  nav a .link-icon {
    display: inline-block;
    float: right;
  }
}

user {
  background-color: $color-cion-background-tertiary;
  grid-area: user;
  margin: 0;
  transition: 0.1s;
}

footer {
  background-color: $color-cion-quinary;
  grid-area: footer;
  transition: 0.1s;

  a {
    display: block;
    text-align: center;

    img {
      display: inline-block;
      height: 5rem;
      padding: 0.8rem;
      vertical-align: middle;
      width: 5rem;
    }

    h4 {
      display: inline-block;
      margin: 0;
      vertical-align: middle;
    }
  }
}

.collapsed {
  grid-template-columns: 5rem 1fr;
  #toggle-button {
    margin: 0.5rem;
  }
}

header {
  background-color: $color-cion-quinary;
  grid-area: header;
  transition: 0.1s;

  h2 {
    color: $color-tertiary;
    display: inline-block;
    margin: 0;
    padding: 1rem;
  }

  #toggle-button {
    display: inline-block;
    float: right;
    font-size: 1.7rem;
    height: 4rem;
    line-height: 1rem;
    margin: 1rem;
    padding: 0;
    text-align: center;
    width: 4rem;
  }

  #toggle-button:hover {
    background-color: $color-secondary;
  }
}

nav {
  grid-area: nav;
  transition: 0.1s;
}

main {
  background-color: $color-cion-background-secondary;
  grid-area: content;
  height: 100%;
  margin: 0;
  max-height: 100%;
  overflow: auto;
  padding: 1em;
  transition: 0.1s;
}

.scroll {
  margin: 0;
  overflow: auto;
}

@media (max-width: 768px) {
  .scroll {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .container {
    grid-template-areas: "header header" "nav nav" "content content" "user footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    height: auto;
    min-height: 100vh;

    overflow-x: hidden;

    nav a {
      .link-text {
        display: none;
      }
    }

    main {
      height: auto;
      overflow-x: auto;
      padding-bottom: 0;
    }
  }

  .collapsed {
    grid-template-areas: "nav user header" "content content content" "footer footer footer";
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto 1fr auto;
  }
}
