@import "../../style/colors";

tr.erroneous {
  color: $color-cion-erroneous;

  td,
  a {
    border-color: $color-cion-erroneous;
    color: $color-cion-erroneous;
  }
}

thead.tr {
  border-color: $color-cion-primary;
}

tr.ready {
  td,
  a {
    border-color: $color-cion-primary;
    color: $color-cion-primary;
  }
}

tr.done {
  td,
  a {
    border-color: $color-cion-done;
    color: $color-cion-done;
  }
}

.task-row.processing {
  td,
  a {
    border-color: $color-cion-primary;
    color: $color-cion-primary;
  }
}
