sudo: required
language: node_js
node_js:
  - node
services:
  - docker
cache:
  directories:
    - node_modules

install: yarn install --frozen-lockfile --non-interactive --no-optional
script: yarn run test

before_deploy:
  - yarn run build
  - VERSION=$(bash scripts/version.sh get)
  - echo $VERSION

deploy:
  - provider: script
    skip_cleanup: true
    script: bash scripts/deploy.sh $VERSION latest
    on:
      branch: master
  - provider: script
    skip_cleanup: true
    script: bash scripts/deploy.sh develop
    on:
      branch: develop
  - provider: script
    skip_cleanup: true
    script: bash scripts/deploy.sh nightly
    on:
      condition: $TRAVIS_EVENT_TYPE = cron

env:
  global:
    - secure: "Kj50+lNqym9MeTDFrClLBJGl1nLUdK4EwpS6qA2HZZdObb0YLzRcBa7CKohYBgxC5Auqd1vYuvABY+P8CboGsMQPnkIguUJE6uW04Yy4h9tJKWm0thgxVGD/KZdEkeDUOxjYmFtx13GdyfJRouDa5OAAJBZk96//4olMA/xnuOSgt8tV0ipKixxBEZ8rM6XburaIZa5EnO6QxJ0RQzt9nkdeSwnV5FMxzE8WlXx5a5+JFBcLf0vkG8vBJw+YhjMaexSAdG/lx+mKpUOoybd0BcFicmF7FeuAzYY9FxcI+rVX+TKZ/vANeyhlNxHJcIQKH3erHJEI5pg1lXXMg9JcUIyFUgUASx2kYGA/zQSXqdLseSpodN1xyaSWBrfj05oHCHgkNrb0Pem73YoROojiyWMCS3NC0dpbtsRn2w+lFKTDX6CNWheSMtQGtqDLyDYUIahB1HXJMxQJ+5D4bi+wWna7JiBQxG+NPIRVrCy+HnRqoZo6H0hfd7nAz2SYv8Wodh7kPkRGYSIWLvpDy4U6Zx0BHlbDqRchDWfUIFpUXrUhiiU2j2yhAep/yZr1aTl8hExW5NzmEDX9HhhXyw9pIzn5N3/5pWtf/5tNG4T2Db57oDh+rxZa1M4q77aUJBllYm56pjQ5TA77rfXDRs2gt6h24NJNnvumnvXOGdv3vqM="
    - secure: "Iyruu+5ayVm+pw7ANpe5+u+FhMrwclM/KMw5a9rOcRCxk085xQifMK4rKz1qvzaBZyn0a6evvCGCDhzjXVxoQ8AgUvZacEcYxFyqZUc+Z5DtdE1DHcIEKIrViptp7ZYK8f+R5pc6ZVfnQwahObXBynGndGhos50gUvk7oxiFpFYW0GU7C7AfzSQMI1jnkK47kP6fdgpB/ljqQHNVQIkl+kXf/duv0k9sVS7qEA+w+ZHBxMgbk3p+6o9X301ovNYlC+q4p0lnQOyxC45YxnQ6IQUqgosI3JFCjOkfLUBQu1dAnXQqP/00wXzHz/HZmbpqpnZVhYPPhMQc7dFX71WNdLc0HTJpLKpdgM0NvnDDjUdNrZUJyW4gBk6nsMJfsHmTiis9S7bd0zWZydQHrGA/JqC7LdpE12UuvTylBYg415QSe6TFN+ikf4aP8lAA9citOJn4m2AdZomwpvhZAmm/cpPFPQwkoVOC6udJMdZxIpD0KA5p6cLf450NOxMNFaDnGRch0hfHHd16XvhH8lvD1DU6KexXQlhI53inMUG4JxoJmj9230eURy0lywZmjapLDwDBy62pEvmWHJyMO9u1U5BET3eayYDlPt0lk126prZpMODEpyTulBmEaMkxvKGUMU+AxfPgfsk4C1hHpyCsrzhR12tZhDNdjn3S90RVu6g="
