@import "~style/colors";

div.permissions {
  margin: 0;
  padding: 0;
}

div.permission-group {
  border-left: $color-quinary solid 1px;
  margin: 1rem;
  padding: 0 0.5rem 0.5rem;
  display: inline-block;
  vertical-align: top;
}

label.permission-label {
  margin: 0;
  display: inline-block;
  font-weight: 500;
}

.zero-margin {
  margin: 0;
}

.checkbox-header {
  margin: 0 0 0.5rem;
}