// These are all of milligram's colors. Change them I ya want
$color-initial: #fff !default
$color-primary: #43F058
$color-secondary: #606c76 !default
$color-tertiary: #f4f5f6 !default
$color-quaternary: #d1d1d1 !default
$color-quinary: #e1e1e1 !default

// these are custom colors
$color-cion-primary: #43F058
$color-cion-secondary: #E6FBC2
$color-cion-tertiary: #EF68AF
$color-cion-quaternary: #2f2f2f
