@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import "colors";
@import "~milligram/src/milligram";

body {
  background-color: #E5E5E5;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.container, .container-collapsed {
  display: grid;

  grid-template-areas: "header content" "nav content" "footer content";

  grid-template-rows: auto 1fr auto;
  grid-gap: 0;
  min-width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  transition: 0.1s;
}

footer {
  grid-area: footer;
  background-color: $color-cion-quinary;
  margin: 0;
  transition: 0.1s;
  a {
    width: 100%;
    height: 100%;
    margin: 0;
    * {
      display: inline-block;
      align-items: baseline;
      vertical-align: middle;
    }
    img {
      height: 5rem;
      width: 5rem;
      padding: 1rem;
    }
  }
}

.container {
  grid-template-columns: 200px 1fr;
  nav a .link-text {
    display: inline-block;
  }
  nav a .link-icon {
    display: inline-block;
    float: right;
  }
}

.container-collapsed {
  grid-template-columns: 5rem 1fr;
  nav a .link-icon {
    display: block;
    float: none;
  }
  nav a .link-text {
    display: none;
  }
  header h2 {
    display: none;
  }
  footer h4 {
    display: none;
  }
}

header {
  grid-area: header;
  background-color: $color-cion-quinary;
  transition: 0.1s;
  h2 {
    padding: 1rem;
    margin: 0;
    color: $color-tertiary;
    display: inline-block;
  }
  #toggle-button {
    background-color: $color-cion-primary;
    color: $color-initial;
    display: inline-block;
    float: right;
    vertical-align: middle;
    margin: 1rem;

    height: 100%;
    padding: 0.8rem 2rem;
    font-size: 2rem;
    font-weight: 300;
    cursor: pointer;
  }
  #toggle-button:hover {
    background-color: $color-secondary;
  }
}

nav {
  grid-area: nav;
  transition: 0.1s;
}

main {
  grid-area: content;
  margin: 0;
  height: 100%;
  padding: 1em;
  transition: 0.1s;
}

@media (max-height: 768px) {
  .container {
    min-height: 100vh;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-areas: "header" "nav" "content" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
  }
}
