@import "colors";
@import "~milligram/src/milligram";


// (not common) style-code for the events page because I don't know how css-loading works in this setup lololol
.cion-task-update {
  height: 3em;
}

.overview {
  max-height: 20em;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

.task-status-row {
  border: 0.1em solid $color-cion-secondary;
  border-radius: 0.3em;
  margin: 2px;
}

.task-processing-loader {
  float: left;
  border: 0.3em solid $color-secondary;
  border-top-color: darken($color-primary, 10%);
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin: 0.3em;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// navbar

.navbar {
  margin-bottom: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $color-secondary;
}

.navbar li {
  float: left;
  margin-bottom: 0;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: $color-primary;
}
