@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import "colors";
@import "~milligram/src/milligram";

input {
  color: $color-cion-text;
}

@media (min-width: 46rem) {
  body {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 55rem 1fr;
    grid-template-areas:
            ". ..... ."
            ". login ."
            ". ..... ." !important;
    margin: 0;
  }

  .login-box {
    height: 20rem !important;

    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 3rem 1fr 3rem !important;
    grid-row-gap: 0 !important;

    grid-template-areas:
          "..... ......... ...."
          "title separator form"
          "..... ......... ...." !important;
  }

  .separator {
    border-right: $color-secondary solid 1px;
    border-bottom: $color-secondary solid 0px !important;
  }
}

body {
  display: grid;
  grid-template-areas:
          "login";
  height: 100vh;

  background-color: $color-cion-background-primary;
}

.login-box {
  display: grid;
  grid-area: login;

  grid-template-rows: 1fr 1px 1fr;
  grid-row-gap: 2rem;
  grid-template-areas:
          "title"
          "separator"
          "form";

  font-weight: 200;
  background-color: $color-cion-background-secondary;
  height: 40rem;

  form {
    grid-area: form;
    margin-bottom: 0;

    padding: 0 3rem 0 3rem;

    & > input:last-child {
      width: 100%;
      margin-bottom: 0;
    }
  }
}

.separator {
  grid-area: separator;
  border-bottom: $color-secondary solid 1px;
}

.title-container {
  text-align: center;
  align-self: center;
  grid-area: title;
}

img {
  display: inline-block;
  margin-right: 1em;
  width: 10rem;
  max-width: 50%;
}

.title {
  font-size: 80px;
  display: inline-block;
}
