@import "colors";

nav {
  background-color: $color-secondary;
  transition: 0.5s;
}

nav ul li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  font-size: 25px;
  color: #f2f2f2;
  display: block;
  transition: 0.3s;
  padding: 1rem 1rem;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
            "header"
            "nav"
            "content"
            "footer";
  }

  nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  nav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
}
