@import "colors";

nav {
  background-color: $color-cion-background-tertiary;
  transition: 0.5s;
  a {
    text-decoration: none;
    color: #f2f2f2;
    display: block;
    transition: 0.3s;
    height: 5rem;
    margin: 0;
    span {
      margin: 1rem;
      font-size: 1.2em;
    }
    svg {
      height: 2em;
      width: 2em;
      padding: 0;
      margin: 0.8rem;
      float: right;
    }
  }
  a:hover {
    background-color: #ddd;
    color: black;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-areas: "header" "nav" "content" "footer";
  }

  nav a {
    float: left;
    display: inline-block;
    text-align: center;
  }
}
