@import "../../../style/colors";

nav {
  background-color: $color-cion-background-tertiary;
  transition: transform 2s, width 2s;

  a {
    color: $color-tertiary;
    display: block;
    height: 5rem;
    margin: 0;
    text-decoration: none;
    transition: all 0.1s ease-out;

    span {
      font-size: 1.2em;
      margin: 1rem;
    }

    .dash-icon {
      display: block;
      float: right;
      height: 2em;
      margin: 0.8rem;
      width: 2em;

      svg {
        height: 100%;
        width: 100%;

        path {
          fill: $white;
          stroke: $white;
          transition: all 0.15s ease-out;
        }
      }
    }
  }

  a:hover {
    background-color: $color-quaternary;
    color: $black;

    svg path {
      fill: $black;
      stroke: $black;
    }
  }
}

@media (max-width: 46rem) {
  nav a {
    display: inline-block;
    float: left;
    text-align: center;
  }
}
