@import "~milligram/src/milligram";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import "~style/colors";

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  text-indent: 0;
  text-overflow: "";
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="' + $color-cion-primary + '" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(9, 78, 95, 0.5) !important;
}
