@import "~style/colors";

input[type=datetime-local] {
  margin-bottom: 1.5rem;
  background-color: transparent;
  border: 0.1rem solid $color-quaternary;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
}

.red {
  //color: $color-cion-erroneous;
  background-color: $color-cion-erroneous;
  margin-right: 0.5rem;
}

.red:hover, .red:focus {
  background-color: darken($color-cion-erroneous, 10%);
}

tr td {
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
