div.masonry-container {
  column-gap: 4rem;
}

div.tile {
  display: inline-block;
  margin: 0 0 1rem;
  width: 100%;

  h3 {
    display: inline-block;
    margin-bottom: 1rem;
  }
}

@media (max-width: 1200px) {
  div.masonry-container {
    column-count: 1;
  }
}

@media (min-width: 1200px) {
  div.masonry-container {
    column-count: 2;
  }
}

@media (min-width: 2200px) {
  div.masonry-container {
    column-count: 3;
  }
}

@media (min-width: 3000px) {
  div.masonry-container {
    column-count: 4;
  }
}
