@import "../../../../style/colors";

div.user-content {
  background-color: $color-cion-senery;

  display: grid;

  grid-gap: 0;

  grid-template-areas: "profile username" "profile actions";
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 1fr 1fr;
  height: 5rem;
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-out;
  width: 100%;
}

div.profile {
  grid-area: profile;
  height: 5rem;
  margin: 0;
  width: 5rem;

  * {
    margin: auto;
    padding: 0.8rem;
  }
}

div.username {
  grid-area: username;

  p {
    color: $color-cion-primary;
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin: 0;
  }
}

div.actions {
  grid-area: actions;

  a {
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin: 0;
    margin-right: 1rem;
  }
}
