@import "../../../style/colors";

.component_container {
  margin: 0;
  padding: 0;
  transition: 0.1s;
}

.events {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 100rem;
  margin: 0;
}
