@import "../../../style/colors";

.component_container {
  display: grid;
  padding: 0;
  margin: 0;
  transition: 0.1s;
  grid-gap: 0.5rem;
}

.dash_component {
  .title {
    background-color: $color-cion-background-primary;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem;
    border-bottom: solid 1px $color-quaternary;
    h4 {
      margin: 0;
      color: $color-cion-text;
    }
  }
  .content {
    border-radius: 0 0 0.5rem 0.5rem;
    height: auto;
    margin: 0;
  }
  border: 1px solid $color-quaternary;
  border-radius: 0.5rem;
}

@media (max-width: 70rem) {
  .component_container {
    grid-template-areas: "events" "asdf" "asdf2" "asdf3";
  }
  .dash_component {
    height: 40rem;
  }
}

@media (min-width: 70rem) {
  .component_container {
    grid-template-areas: "events asdf" "asdf2 asdf3";
    .dash_component {
      height: 50rem;
    }
  }
}